---

---

<footer class="mx-auto max-w-2xl px-6 lg:px-8 pt-14">
  <h1>Contact</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, temporibus
    maiores placeat quisquam debitis id ut tenetur accusamus sapiente maxime
    mollitia assumenda saepe amet fuga, odio vero nemo fugiat voluptate.
  </p>
  <p>brunagoncalves.sjb@gmail.com</p>

  <div>
    <a href="#"><img src="src/icons/github.svg" alt="" /></a>
    <a href="#"><img src="src/icons/linkedin.svg" alt="" /></a>
    <a href="#"><img src="src/icons/twitter.svg" alt="" /></a>
  </div>
</footer>
