---

---

<header>
  <nav class="flex items-center justify-center p-6">
    <div class="lg:flex lg:gap-x-12">
      <a class="font-semibold text-sm/6" href="#">Home</a>
      <a class="font-semibold text-sm/6" href="#">Skills</a>
      <a class="font-semibold text-sm/6" href="#">Projects</a>
      <a class="font-semibold text-sm/6" href="#">Contact</a>
    </div>
  </nav>
</header>
