---

---

<header>
  <nav class="navbar">
    <div class="nav-links">
      <a href="#">Home</a>
      <a href="#">Skills</a>
      <a href="#">Projects</a>
      <a href="#">Contact</a>
    </div>
  </nav>
</header>

<style>
  .navbar {
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
  }

  .nav-links {
    display: flex;
    align-items: center;
    list-style: none;
  }
</style>